#toPrint {
  font-family: "Times New Roman", Times, serif;
}

p{
  font-size: 14pt;
}

h3, p {
  margin-bottom: .2rem;
}
.penting{
  font-weight: 700;
}

small{
  font-weight: lighter;
  font-size: 10pt;
  color: rgb(200, 200, 200);
}

form {
  font-family: Verdana, Geneva, Tahoma, sans-serif!important;
}